<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}?{% now 'U'%}">
    <title>Login</title>


</head>

<body>


    {% if form.errors %}
    <p> There's something wrong with what you entered!</p>
    {% endif %}

    {% if next %}
    <p> Hey, you can't acces that page.</p>
    {% endif %}

    <div class="container">
        <form method="POST" action="{% url 'login' %}">
            {% csrf_token %}
            <div class="title">Login</div>
            <div class="input-box">
                <p>Username: {{ form.username }}</p>
                <div class="underline"></div>
            </div>

            <div class="input-box">
                <p> Password: {{ form.password }}</p>
                <div class="underline"></div>
            </div>

            <div class="input-box">
                <p><input type="submit" value="Login"></p>
                <input type="hidden" name="next" value=" {{ next }}">
            </div>

            <div class="Sign-Up">
            
                    <a href="{% url 'register' %}">Sign Up</a>
                </div>
        </div>

        </form>
    </div>



    </body>

    </html>