<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Registration Page</title>
</head>
<body>
 <h1>New Registration</h1>

 <form action="post/formdoldur" method="GET">
     Name: <input name="isim" type="text"><br> <br>
     Surname: <input name="soyisim" type="text"><br> <br>
     TC : <input name="kimlikno" type="text"><br> <br>
     City: <input name="sehir" type="text"><br> <br>
     District:<input name="ilce" type="text"><br> <br>
     Telephone:<input name="numara" type="text">


     <br><br>
     <input type="submit">
 </form>

</body>
</html>