{% extends "base.html" %}
{% block title %}
Customer Detail Page
{% endblock  %}}

{% block body %}
{% load static %}

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}?{% now 'U'%}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <title>Customers Detail</title>
</head>

<body>


  <div class="header">
    <div class="left-header">
      <ul>
        {% if user.is_authenticated %}

        <li class="#"><a href="/"><i class="fa fa-home" aria-hidden="true"></i>Home Page</a></a></li>
        <li class="#"><a href="/create"><i class="fa fa-user" aria-hidden="true"></i>Add New Customer</a></a></li>
        <li class="#"><a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt" aria-hidden="true"></i>Logout</a></a>
        </li>
        {% else %}
        <li><a href="{% url 'login' %}"><i class="fas fa-sign-in-alt " aria-hidden="true"></i>Login</a></li>
        <li><a href="{% url 'register' %}"><i class="fas fa-sign-in-alt " aria-hidden="true"></i>Sign Up</a></li>
        {% endif %}

      </ul>
    </div>
    <div class="container">
      <h1>Customer Detail</h1>
      <ul class="list-group" id="myList">
        {% if user.is_authenticated %}

        <li class="list-group-item">Name :<h3>{{ Customer.name }}</h3>
        </li>

        <li class="list-group-item">Surname :<h3>{{ Customer.surname }}</h3>
        </li>

        <li class="list-group-item">TC :<h3>{{ Customer.tc }}</h3>
        </li>

        <li class="list-group-item">City :<h3>{{ Customer.city }}</h3>
        </li>

        <li class="list-group-item">District :<h3>{{ Customer.district }}</h3>
        </li>

        <li class="list-group-item">Telephone :<h3>{{ Customer.telephone }}</h3>
        </li>

        <div class="container">
          <a href="/core/update/{{ Customer.id}}"><button type="button" class="btn btn-secondary">Update</button>
            <a href="/core/delete/{{ Customer.id}}"><button type="button" class="btn btn-secondary">Delete</button>
        </div>

        {% else %}
        <div class=authorized>
          <li>You do not have the authorized, please login and try again!</li>
        </div>
        {% endif %}
      </ul>
    </div>
    <br>


    <br><br>

</body>

{% endblock %}