<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
   
    <title>Customers Detail</title>
</head>
<body>

<div class="container mt-3">
  <ul class="list-group" id="myList">

    <li class="list-group-item">Name:<h1>{{ NewCustomer.Name }}</h1></li>

    <li class="list-group-item">Surname:<h2>{{ NewCustomer.Surname }}</h2></li>

    <li class="list-group-item">TC:<h3>{{ NewCustomer.TC }}</h3></li>

    <li class="list-group-item">City:<h4>{{ NewCustomer.City }}</h4></li>

    <li class="list-group-item">District:<h5>{{ NewCustomer.District }}</h5></li>

    <li class="list-group-item">Telephone:<h6>{{ NewCustomer.Telephone }}</h6></li>
  </ul>  
</div>
<br>

<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myList li").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>


<div class="container">
  <a href="/post/update/{{ NewCustomer.id}}"><button type="button" class="btn btn-secondary">Update</button>
  <a href="/post/delete/{{ NewCustomer.id}}"><button type="button" class="btn btn-secondary">Delete</button>
</div>
<br><br>

<a href="/post"type="button" class="btn btn-outline-secondary">Return</a>

</body>
</html>