<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer</title>
</head>
<body>
<h1>Customers List</h1>

    <form action="">

        <input type="text" name="word" > <input type="submit" value="search">
    </form>

{% for NewCustomer in allcustomers %}
    <h2><a href = "detail/{{ NewCustomer.id }}">{{ NewCustomer.Name }}</a></h2>
    <h3>{{ NewCustomer.Surname }}</h3>
    <h6>{{ NewCustomer.Date }}</h6>
    <hr>
{% endfor %}

</body>
</html>

<div class="pagination">
    <span class="step-links">
        {% if allcustomers.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ allcustomers.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ allcustomers.number }} of {{ allcustomers.paginator.num_pages }}.
        </span>

        {% if allcustomers.has_next %}
            <a href="?page={{ allcustomers.next_page_number }}">next</a>
            <a href="?page={{ allcustomers.paginator.num_pages }}">last &raquo;</a>
        {% endif %}allcustomers
    </span>
</div>
