<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Registration Page</title>
</head>
<body>
 <h1>Update Page</h1>

 <form action="/post/updateYolla/{{ yazı.id}}" method="GET">
     Name: <input name="isim" type="text" value="{{ yazı.Name}}"><br> <br>
     Surname: <input name="soyisim" type="text" value="{{ yazı.Surname}}"><br> <br>
     TC : <input name="kimlikno" type="text" value="{{ yazı.TC}}"><br> <br>
     City: <input name="sehir" type="text" value="{{ yazı.City}}"><br> <br>
     District:<input name="ilce" type="text" value="{{ yazı.District}}"><br> <br>
     Telephone:<input name="numara" type="text" value="{{ yazı.Telephone}}">

     <input type="hidden" name="id" value="{{yazı.id}}">


     <br><br>
     <input type="submit">
 </form>

</body>
</html>